<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.funIM.mapper.DemoMapper">
    <select id="DemoQuery" resultType="com.example.funIM.model.DemoVO">
        select * from note where id = #{id};
    </select>

    <select id="DemoQueryALL" resultType="com.example.funIM.model.DemoVO">
        select * from note
    </select>

</mapper>